html, body {
    overflow-x: hidden;
    height: 100%;
 }


.case-study header {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*background-color: blue;*/
}

#kb-logo {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    /*background-color: green;*/
}

#kb-logo img {
    padding: 2em;
}

nav {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: space-around;
    padding: 4em;
    /*background-color: pink;*/
}

#case-study-intro {
    /*background-color: pink;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

#intro-bar {
    background-color: rgba(250, 130, 90, 0.8);
    width: 78%;
    height: 26px;
    align-self: flex-start;
    margin-top: -100px;
}

h1 {
    font-size: 90px;
    z-index: 0;
}

.intro-content {
    padding-top: 4em;
    padding-left: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8em;
}

.intro-content h6 {
}

.intro-content span {
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
}

#case-study-intro .btn {
    margin-top: 4em;
    margin-bottom: 4em;
}

#problem-solution {
    margin-top: 6em;
    background-image: url(../images/prob-solution-background-image-compressed.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 4em;
    padding-bottom: 4em;
}

#problem-solution .box-content {
    background-color: rgba(255,255,255, 0.8);
    padding-bottom: 2em;

}

#problem-solution > #problem {
    margin-right: 22%;
    padding-right: 6em;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-left: 144px;
    padding-top: 2em;
}

#problem-solution > #solution {
    padding-right: 6em;
    grid-column-start: 3;
    grid-column-end: 7;
    margin-left: 22%;
    margin-top: -6em;
    padding-left: 144px;
    padding-top: 2em;
}

.section {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.section-title-bar {
    background-color: rgba(250, 130, 90, 0.8);
    width: 78%;
    height: 26px;
    margin-top: -34px;
}

.section-intro h2 {
    z-index: 0;
    padding-left: 10%;
}

.section-intro p {
    padding-left: 10%;
    padding-right: 52%;
}

.sub-section {
    margin-top: 4em;
}

.sub-section h6 {
    padding-left: 10%;
    text-transform: uppercase;
}

.sub-section p {
    padding-left: 10%;
    padding-right: 52%;
}

.sub-section-title-bar {
    background-color: rgba(247, 164, 136, 0.8);
    height: 10px;
    margin-top: -32px;
    width: 54%;
}

.sub-section-content {
    position: relative;
}
.sub-section-content aside {
    background-color: blue;
    margin-left: 80%;
    position: absolute;
}

.sub-section-content aside p {
    padding-left: 1em;
    padding-right: 1em;
}

#user-survey-support-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 4em;
}

.stats-box {
    background-color: rgba(247, 164, 136, 0.2);
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: -1em;
}

#user-survey-support-content .stats-box-right {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    margin-top: -6em;
    margin-left: -1em;
    margin-right: 0;

}

.stats-box .stats {
    background-color: rgba(69, 64, 62, 0.8);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 4em;
    margin-right: 12em;
}

.stats-box .stats-right {
    margin-left: 10em;
    margin-right: 6em;
}

.stats-box p:last-child {
    padding-left: 4em;
    padding-right: 4em;
}

#user-persona-support-content {
    margin-top: 4em;
}

#user-persona-support-content div {
    position: relative;
    margin-bottom: 1em;
}

#user-persona-support-content div h5 {
    margin-top: -6em;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 6em;
    width: 100%;
}

#competitive-analysis-support-content {
    margin-top: 4em;
}

#competitive-analysis-support-content .feature-bar {
    background-color: pink;
    padding-left: 24%;
    padding-right: 24%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#user-stories-support-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 4em;
}

.stories-box {
    background-color: rgba(255, 207, 191, 0.7);
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 1em;
    margin-right: 4em;
}

#user-stories-support-content #stories-box-right {
    background-color: rgba(247, 164, 136, 0.2);
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    margin-top: -6em;
    margin-left: -6em;
    padding-right: 1em;
    margin-right: -4em;
}

#user-flow-support-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 4em;
}

#user-flow-right {
    grid-column-start: 4;
    margin-left: -14em;
    margin-top: 14em;
}

#pen-and-paper-support-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 4em;
    background-image:url(../images/wireframe-sketches-compressed.png);
    background-repeat: no-repeat;
}

#pen-and-paper-support-content .feature-bar {
    grid-column-start: 3;
    grid-column-end: 5;
    margin-top: 8em;
    margin-bottom: 8em;
    margin-left: -6em;
    margin-right: -6em;
}

#pen-and-paper-support-content .feature-bar p {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#wireframes-support-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4em;
    margin-left: 9em;
    margin-right: 2em;
}

#wireframes-support-content #middle-wireframe {
    padding-left: .5em;
}

#early-sketches-support-content {
    margin-top: 4em;
}

#style-guide-support-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#style-guide-support-content img {
    grid-column-start: 3;
    margin-right: 4em;
    margin-top: -8em;
}

#mockups-support-content {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 4em;
}

#mockups-support-content img {
    grid-column-start: 2;
}

#mockups-support-content p {
    grid-column-start: 4;
}

#mockups-support-content #bottom-mockup-image {
    grid-row-start: 2;
    grid-column-start: 4;
}

#mockups-support-content #bottom-caption {
    grid-row-start: 2;
    grid-column-start: 2;
}
