html, body {
    overflow-x: hidden;
    height: 100%;
 }

 article {
    display: grid;
 }

.case-study header {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*background-color: blue;*/
}

#kb-logo {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    /*background-color: green;*/
}

#kb-logo img {
    padding: 2em;
}

nav {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: space-around;
    padding: 4em;
    /*background-color: pink;*/
}

#case-study-intro {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*background-color: pink;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

#intro-bar {
    background-color: rgba(250, 130, 90, 0.8);
    width: 78.75%;
    height: 26px;
    align-self: flex-start;
    margin-top: -100px;
}

h1 {
    font-size: 90px;
    z-index: 0;
}

.intro-content {
    padding-top: 4em;
    padding-left: 4em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.intro-content h6 {
    padding-left: 2em;
}

#case-study-intro .btn {
    margin-top: 4em;
    margin-bottom: 4em;
}

#problem-solution {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 8em;
    background-image:url(../images/prob-solution-background-image-compressed.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
}

#problem-solution .box-content {
    background-color: rgba(255,255,255, 0.8);
    padding-left: 148px;
    margin-top: 4em;
    margin-bottom: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 4em;
}

#problem-solution > #solution {
    margin-top: 10em;
    margin-bottom: 4em;
}

/*#problem {
    position: relative;
}

#solution {
    position: relative;
    padding-bottom: 8em;
}

.overlay-box {
    position: relative;
    top: 40px;
    width: 730px;
    height: 377px;
    background-color: rgba(255, 255, 255, 0.9);
}

#solution .overlay-box {
    margin-left: 710px;
    margin-top: -290px;
}*/

#discovery {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    margin-top: 8em;
}

.section-intro {
    margin-right: 22em;
}

.section-title-bar {
    background-color: rgba(250, 130, 90, 0.8);
    width: 100%;
    height: 26px;
    margin-top: -34px;
}

.section-intro h2 {
    z-index: 0;
    padding-left: 148px;
}

.section-intro p {
    padding-left: 148px;
    margin-right: 16em;
}

.sub-section {
    margin-top: 2em;
}

.sub-section-title-bar {
    background-color: rgba(247, 164, 136, 0.8);
    height: 10px;
    margin-top: -32px;
    margin-right: 32em;
}

.sub-section h6 {
    padding-left: 148px;
    margin-right: 24em;
    z-index:0;
}

.sub-section-content {
    display: flex;
    flex-flow: row;
}

.sub-section-content {
    padding-left: 148px;
    margin-right: 16em;
}

.sub-section-content > aside {
    background-color: blue;
    order: 2;
    margin-top: 8em;
}
