html, body {
    overflow-x: hidden;
    height: 100%;
 }

 body {
    display: grid;
 }

#homepage header {
    grid-column-start: 1;
    grid-column-end: 4;
    /*min-height: 666px;*/
    background-image:url(../images/intro-background1x-noblur.png);
    background-size: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#kb-logo {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    /*background-color: green;*/
}

#kb-logo img {
    height: 80px;
    width: 80px;
    padding: 2em;
}

nav {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: space-around;
    padding: 4em;
    /*background-color: pink;*/
}

#hero {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 4em;
    padding-bottom: 6em;

}

#hero h1 {
    /*background-color: blue;*/
    padding-left: 220px;
    font-size:90px;
}

#hero span {
    /*background-color: orange;*/
    padding-top: 8em;
    padding-left: 50px;
}

#hero h4 {
    /*background-color: red;*/
}

#hero h5 {
    /*background-color: white;*/
}

.feature-bar {
    background-color: green;
    display: flex;
    justify-content: center;
}

.feature-bar h4 {
    font-size: 28px;
    padding-top: .5em;
    padding-bottom: .5em;
}

#work {
    background-image:url(../images/work-background-topography.png);
    height: 100%;
    display: flex;
    padding-top: 8em;
    padding-bottom: 8em;

}

#work .case-study-box {
    background-image:url(../images/beginwell-image1x-compressed.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-right: 2em;
}

#work .box-content {
    background-color: rgba(255,255,255, 0.8);
    margin-right: 2em;
    padding-left: 10%;
    padding-top: 3em;
    padding-bottom: 3em;
}

#work > #keepsy {
    background-image:url(../images/keepsy-image1x-compressed.png);
    margin-top: 15%;
    padding-right: 0px;
    margin-right: 0px;
}

#work > #keepsy .box-content {
    margin-left: 36px;
    margin-right: 0px;
}

#sub-feature-bar {
    background-color: rgba(250, 130, 90, 0.8);
    display: flex;
    margin-right: 30%;
    position: relative;
}

#sub-feature-bar h4 {
    font-size: 28px;
    padding-left: 10%;
    padding-top: .2em;
    padding-bottom: .2em;
}

#about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    margin-bottom: 80px;

}


#about p {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 80px;
    padding-left: 10%;
    padding-right: 12em;
}

#about img {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: -7em;
}

#about .btn {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 10%;
}

#homepage footer {
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: red;
}
